server:
  port: 8083

spring:
  application:
    name: ai-service

    data:
      mongodb:
        uri: mongodb://localhost:27017/fitnessrecommendation
        database: fitnessrecommendation
    rabbitmq:
      name: localhost
      port: 5672
      username: guest
      password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false
    instance-id: ${spring.application.name}:${server.port}

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking

